{% extends 'shop/basic.html' %}
{% block title%} ArtisticScrappy - Best Ecommerce Website{% endblock %}
{% load static %}


{% block body %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-3"><b> About Artistic Scrappy </b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="mb-2"><span style="font-size:xx-large;font-family: Georgia, 'Times New Roman', Times, serif;font-weight: 700;">&#8220;</span>Artistic Scrappy is an e-commerce website that aims to be a platform where people can sell their old or scrap items.

                From our website, an artist can buy those scrap items and customize that scrap items to make useful and decorative items.
                
                These artistic items can be sold on the website itself and other people can buy these items.
                
                It help people to earn by selling their scrap, it help the artists to buy stuffs on cheap rate and earn money by showing their creativity on it and it will also promote the initiative of #VocalForLocal and make the world "a better place" by recycling old items. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-3"><b>We Promote</b></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid p-5" src="/media/blog/handmade.png/">
            <h4 class="text-center"><b>HandMade Items</b></h4>
            <p class="text-center" style="font-weight: 500;">A person can sell their handmade arts and stuffs on our platform. This is the way they can earn and grow.</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid p-5" src="/media/blog/store.png/">
            <h4 class="text-center"><b>#VocalForLocal</b></h4>
            <p class="text-center" style="font-weight: 500;">#VocalForLocal is the tool for the growth of our country. We promote products of independent artitst locally.</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid p-5" src="/media/blog/recycle.png/">
            <h4 class="text-center"><b>Recycling</b></h4>
            <p class="text-center" style="font-weight: 500;">One can sell there old items or scrap on the platform, which in return can be recycled by anyone.</p>    
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-3"><b>How It Works?</b></h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-5">
            <h4 class="text-md-right">Platform For An Independent Artist</h4>
        </div>  
        <div class="col-md-7">
            <p> 
                An artist can add their arts or products made by them on the platform for selling it. It can be anything; a repaired and decorted mug, a customized soap, sketches or anything that they have touched artistically. 
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5">
            <h4 class="text-md-right">Platform For Users To Earn Through Scrap</h4>
        </div>  
        <div class="col-md-7">
            <p> 
                Any User can add their scrap or old items on the platform for other users to buy them. An artist can add their arts or products made by them on the platform for selling it. It can be anything; a repaired and decorted mug, a customized soap, sketches or anything that they have touched artistically. 
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5">
            <h4 class="text-md-right">Platform For Turning Best From The Waste</h4>
        </div>  
        <div class="col-md-7">
            <p> 
                The scrap that is added by a User on Scrappy can be bought by anyone, maybe another user, maybe a artist, maybe a designer. This scrap will be customized and recycled and turned into something useful. Some best from the waste artist may buy this scrap and turn it into a artistic item and sell it on the Artistic Store and earn money by selling it.
            </p>
        </div>
    </div>
</div>
{% endblock %}